<h1>The Sandman</h1>

<img src="https://res.cloudinary.com/dua6dm8ik/image/upload/v1642886466/The%20Endless/theEndless_apykz5.jpg"/>

<h3>Main information</h3>
<p>
  The Sandman is a comic book written by Neil Gaiman and published by DC Comics.
  Its artists include Sam Kieth, Mike Dringenberg, Jill Thompson, Shawn McManus,
  Marc Hempel, Bryan Talbot, and Michael Zulli, with lettering by Todd Klein and
  covers by Dave McKean. The original series ran for 75 issues from January 1989
  to March 1996. Beginning with issue No. 47, it was placed under DC's Vertigo
  imprint, and following Vertigo's retirement in 2020, reprints have been
  published under DC's Black Label imprint. The main character of The Sandman is
  Dream, also known as Morpheus and other names, who is one of the seven
  Endless. The other Endless are Destiny, Death, Desire, Despair, Delirium
  (formerly Delight), and Destruction (also known as 'The Prodigal'). The series
  is famous for Gaiman's trademark use of anthropomorphic personification of
  various metaphysical entities, while also blending mythology and history in
  its horror setting within the DC Universe. The Sandman is a story about
  stories and how Morpheus, the Lord of Dreams, is captured and subsequently
  learns that sometimes change is inevitable.[2] The Sandman was Vertigo's
  flagship title, and is available as a series of ten trade paperbacks, a
  recolored five-volume Absolute hardcover edition with slipcase, a three-volume
  omnibus edition, in a black-and-white Annotated edition, and is available for
  digital download. Critically acclaimed, The Sandman was one of the first few
  graphic novels ever to be on The New York Times Best Seller list, along with
  Maus, Watchmen and The Dark Knight Returns. It was one of five graphic novels
  to make Entertainment Weekly's "100 best reads from 1983 to 2008," ranking at
  No. 46.[3] Norman Mailer described the series as "a comic strip for
  intellectuals."[4] The series has exerted considerable influence over the
  fantasy genre and graphic novel medium since its publication and is often
  regarded as one of the greatest graphic novels of all time.
</p>

<h4>Additions and spin-offs</h4>

<p>
  The Sandman has inspired numerous spin-offs. While most of these are not
  written by Gaiman, he did write two miniseries focusing on the character of
  Death. Death: The High Cost of Living was published from March to May 1993 and
  was based on the fable that Death takes human form once a century to remain
  grounded and in touch with humanity. This was followed in 1996 by Death: The
  Time of Your Life, featuring the characters of Foxglove and Hazel from A Game
  of You. Other spin-offs include The Dreaming, Lucifer, and Dead Boy
  Detectives. A set of Sandman trading cards was issued in 1994 by SkyBox
  International. In 1999, Gaiman wrote The Sandman: The Dream Hunters, a novella
  illustrated by Yoshitaka Amano. As in many of the single-issue stories
  throughout The Sandman, Morpheus appears in Dream Hunters, but only as a
  supporting character. In Gaiman's afterword to the book, he describes the
  story as a retelling of an existing Japanese legend. There is no trace of it
  in the primary source he cites, and when asked, Gaiman has stated that he made
  up the "legend". The novel was later adapted into a four-issue miniseries by
  P. Craig Russell and released by Vertigo from January 2009 to April 2009.
  Gaiman and Matt Wagner co-wrote Sandman Midnight Theatre, a 1995 prestige
  format one-shot in which Dream and Wesley Dodds meet in person after the
  events in the storyline, "The Python," which ended with Dodds's lover, Dian
  Belmont, going to England, which eventually brings both her and Dodds to
  Roderick Burgess's mansion. In 2001, Dream appeared in a flashback in Green
  Arrow vol. 3, No. 9, which takes place at a point during the 70 years of the
  first issue.
</p>

<h2>About Neil Gaiman</h2>
<div class="stlist">
  <ul>
    <li>
      Born: Neil Richard Gaiman 10 November 1960 (age 61) Portchester,
      Hampshire, England
    </li>
    <li>Occupation: Author, comic book creator, screenwriter, voice actor</li>
    <li>Genre: Fantasy, horror, science fiction, dark fantasy, comedy</li>
  </ul>
</div>
<div class="ndlist">
  <h5>Notable works:</h5>
  <ol>
    <li>Sandman</li>
    <li>Neverwhere</li>
    <li>American Gods</li>
    <li>Stardust</li>
    <li>Coraline</li>
    <li>The Graveyard Book</li>
    <li>Good Omens</li>
    <li>The Ocean at the End of the Lane</li>
  </ol>
</div>
