<div class="imgContainer">
  <img src="../../../assets/icon/TheEndless.jpg" alt="TheEndless" />
</div>
<div class="Quote">
  <h4>
    “People think dreams aren't real just because they aren't made of matter, of
    particles. Dreams are real. But they are made of viewpoints, of images, of
    memories and puns and lost hopes.”
  </h4>
</div>
<div class="delirium">
  <img src="../../../assets/icon/Delirium.png" />
  <p>
    "What's the name of the word for the precise moment when you realize that
    you've actually forgotten how it felt to make love to somebody you really
    liked a long time ago?"
  </p>
</div>
